@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #6a4dbb;
}

body {
  background-color: white;
}

.bg-pak-map-globalcss {
  background-image: url("/Icons&Symbols/pakistan-map-outline.png");
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
}

.services-hero-bg-globalscss {
  background-image: url(/Images/services-hero-bg.png);
  background-position: center;
  background-size: 100% cover;
  background-repeat: no-repeat;
}

.change-item {
  animation: change 1s ease;
}

@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-translate-1 {
  animation: bobbingAnim 1.5s ease-in 0s;
}

.hero-translate-2 {
  animation: bobbingAnimBottom 1.5s ease-in 0s;
}

@keyframes bobbingAnim {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }

  100% {
    transform: translateY(0%);
    visibility: visible;
  }
}

@keyframes bobbingAnimBottom {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }

  100% {
    transform: translateY(0%);
    visibility: visible;
  }
}

.text-border {
  text-shadow: 
    3px 3px 0 rgb(199, 199, 199), 
    -3px -3px 0 rgb(199, 199, 199),
    3px -3px 0 rgb(199, 199, 199),
    -3px 3px rgb(199, 199, 199);
}